
<div id="restaurants">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/categories">Categories</a></li>
    <li class="active"><%=@restaurant_category.name %></li>
  </ol>
  <div class="page">
    <% @restaurants.each do |restaurant| %>
      <%= render 'restaurants/restaurant_card', :restaurant => restaurant %>
          <% end %>
  </div>
  <br>

</div>
