<div id="restaurants">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Restaurants</li>
    <li class="active">Import</li>
  </ol>
  
  
  <div class="page">
  	<%= render 'form' %>
  </div>
  <br>



</div>


