<div class="restaurant">
        <a href='<%=restaurant_path(restaurant) %>' class="detail"> 
          <div class="absolute rst-thumbnail">
            <img class="thumbnail-img" src="/assets/restaurant-icon.gif"></img>
          </div>

          <div class="absolute restaurant-container">
            <h2 class="restaurant-title"><%= restaurant.name %></h2>
            <span class="lr-location" > <%= restaurant.city.name + ", " + restaurant.zip_code + ", " + restaurant.street %></span>
            <br />
            <span class="lr-location" > <%= restaurant.phone%></span>
          </div>
          <div class="rating">
            <img src="/assets/rating_5.png" />
          </div>
        </a> 
      </div>

