<div class="container">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Restaurants</li>
  </ol>
  <div>
    <% @restaurants.each do |restaurant| %>
      <%= render 'restaurant_card', :restaurant => restaurant %>
          <% end %>
  </div>
  <br>

  <%= link_to 'New Restaurant', new_restaurant_path %>
</div>
