      <%= render 'restaurant_card', :restaurant => @restaurant %>
<% @menus.each do |menu| %>
  <div>
  <%= menu.name %> 
  </div>
<% end %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
